<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
      <LogstashLayout dateTimeFormatPattern="yyyy-MM-dd'T'HH:mm:ss.SSSZZZ"
        eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"
        prettyPrintEnabled="false"
        timeZoneId="UTC"
        stackTraceEnabled="true">
        <EventTemplateAdditionalFields>
          <KeyValuePair key="logging.googleapis.com/trace" value="$${ctx:traceId}"/>
          <KeyValuePair key="logging.googleapis.com/spanId" value="$${ctx:spanId}"/>
          <KeyValuePair key="logging.googleapis.com/trace_sampled" value="$${ctx:traceSampled}"/>
        </EventTemplateAdditionalFields>
      </LogstashLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="LogToConsole"/>
    </Root>
  </Loggers>
</Configuration>
